{% extends "./base.html" %}
{% load static %}

{% block dashboardStyle %}
  <link href="{% static 'core/css/dashboard/cursos.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block breadcrumbs %}
  <a href="#!" class="breadcrumb">Cursos</a>
{% endblock %}

{% block dashboardContent %}
  <div class="row" style="display: none">
    <div class="col s12">
      <h3> Dashboard </h3>
      <h5> Olá {{user.name}} </h5>
      <h6 class="message"> Verificamos que você está ativo nos seguintes cursos, selecione um. </h6>
    </div>
  </div>

  <div class="preloader-wrapper big active" id="spinner">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <div class="row" id="content">

  </div>

  <div id="templates">
    <div id="templateCurso">
      <a class="col s6 m6 curso">
        <div class="card hoverable" style="cursor: pointer;">
          <div class="card-content">
            <span class="card-title nome" style="font-weight: bold;">Engenharia de Software</span>
            <p> <span class="label-matricula"> Matricula: </span> <span class="matricula"></span> </p>
            <p> <span class="label-ingresso">Ingresso: </span> <span class="ingresso">2012.1</span> </p>
          </div>
        </div>
      </a>
    </div>
  </div>
{% endblock %}

{% block dashboardScripts %}
  <script src="{% static 'core/js/dashboard/cursos.js' %}"></script>
{% endblock %}
