{% extends "./base.html" %}
{% load static %}

{% block dashboardStyle %}

{% endblock %}

{% block breadcrumbs %}
  <a href="/dashboard/cursos" class="breadcrumb">Cursos</a>
  <a href="/dashboard/cursos/disciplinas?discente-id={{ discente_id }}&curso-id={{ curso_id }}" class="breadcrumb">Disciplinas</a>
  <a href="/dashboard/cursos/disciplinas/estatisticas?discente-id={{ discente_id }}&curso-id={{ curso_id }}&disciplina-id={{ disciplina_id }}" class="breadcrumb">Estatisticas</a>
{% endblock %}

{% block dashboardContent %}
  <div class="preloader-wrapper big active" id="spinner">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <div class="row" id="content">

  </div>
{% endblock %}

{% block dashboardScripts %}

{% endblock %}
