{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <title>Professor Sheet Cheap</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'core/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'core/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Professor Sheet Cheap</a>
      <ul class="right hide-on-med-and-down">
        {% block navbar %}
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endblock %}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        {% block navbar-mobile %}
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endblock %}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  {% block header %} {% endblock %}

  <div class="container">
    {% block content %} {% endblock %}
  </div>

  <footer class="page-footer" style="background-color: #2B4141">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Professor Sheet Cheap</h5>
          <p class="grey-text text-lighten-4">Utilizamos os dados abertos da UFRN e da API da UFRN para, através do seu login do SIGAA, exibir estatisticas de aprovação de professores de acordo com sua grade curricular.
              Avalie os riscos e evite professores carrascos</p>
        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
          <span class="copyleft" style="font-size:17px">&copy;</span>
          Desenvolvido por
          <a class="orange-text text-lighten-3" href="https://github.com/itepifanio">Ítalo Epifânio</a>
          &
          <a class="orange-text text-lighten-3" href="https://github.com/brunnomoreira">Brunno Moreira</a>
          <p>Template por   <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a></p>
          <p>Imagens por <a class="orange-text text-lighten-3" href="https://www.freepik.com/dooder">Dooder</a> </p>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'core/js/materialize.js' %}"></script>
  <script src="{% static 'core/js/init.js' %}"></script>
  <script src="{% static 'core/js/app.js' %}"></script>

  </body>
</html>
