{% extends "./base.html" %}
{% load static %}

{% block navbar %}
  {% if request.session.has %}
    <li><a href="/"> Home </a></li>
    <li><a href="{% url 'dashboard' %}"> Dashboard </a></li>
  {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
{% endblock %}

{% block header %}
  <!-- Inicia carousel -->
  <div class="slider" height="500px">
    <ul class="slides">
            <li style="background-color: #A9CAB9">
            <img class="img-responsive" src="{% static 'core/images/thief.jpg' %}">
            <div class="caption center-align">
                <h3>Professor Sheet Cheap!</h3>
                <h5 class="light white-text text-lighten-4" style="color:#fff">
                    <p>Roubamos os dados da UFRN para você possa avaliar as taxas de aprovação dos professores</p>
                    <p>Evite aquele professor carrasco e aumente suas chances de aprovação</p>
                </h5>
            </div>
        </li>
        <li style="background-color: #8FB9A1">
            <img class="img-responsive" src="{% static 'core/images/analysis.jpg' %}">
            <div class="caption center-align">
                <h3>Análise de dados estatísticos</h3>
                <h5 class="light grey-text text-lighten-3">
                    <p>Veja os dados e estatísticas que disponibilizamos</p>
                    <p>Gerencie suas matrículas a partir da taxa de aprovação dos professores</p>
                </h5>
            </div>
        </li>
        <li style="background-color: #95BAA8">
            <img class="img-responsive" src="{% static 'core/images/peaceful.jpg' %}">
            <div class="caption center-align">
                <h3>Se matricule sem dores de cabeça</h3>
                <h5 class="light grey-text text-lighten-3">
                    <p>Pague a disciplina tranquilo</p>
                    <p>Mantenha a plenitude e hidrate-se</p>
                </h5>
            </div>
        </li>
    </ul>
  </div>
  <!-- Fim carousel -->
{% endblock %}

{% block content %}
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
{% endblock %}
