{% extends "dashboard.html" %}

{% load static %}

{% block dashboardStyle %}
  <link href="{% static 'core/css/datatables.min.css' %}" type="text/css" rel="stylesheet" />
  <link href="{% static 'core/css/datatables-custom-style.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block breadcrumbs %}
  <a href="/dashboard/matrizesCurriculares" class="breadcrumb">Matrizes Curriculares</a>
  <a href="/dashboard/disciplinas?id-matriz-curricular={{ id_matriz_curricular }}" class="breadcrumb">Disciplinas</a>
  <a href="/dashboard/listaProfessores?id-matriz-curricular={{ id_matriz_curricular }}&id-componente-curricular={{ id_componente_curricular }}" class="breadcrumb">Taxa de Aprovação</a>
{% endblock %}

{% block dashboardContent %}
  <div class="section">
      <!--   Icon Section   -->
      <div class="row z-depth-1">
          <div class="col s12">
              <div id="striped" class="section scrollspy">
                  <h6 class="header z-depth-1" style="margin-top: 10px; margin-bottom: 25px; display: inline-block; padding: 15px;">
                    <span style="font-weight: bold;">Disciplina:</span> <span>IMD0017 - PRÁTICAS DE LEITURA E ESCRITA EM PORTUGUÊS I</span>
                  </h6>
                  <div class="row">
                      <div class="col s12">
                          <table class="highlight" style="width:100%" id="datatable">
                              <thead>
                                  <tr>
                                      <th>Nome</th>
                                      <th>Página do servidor</th>
                                      <th>Taxa de aprovação</th>
                                      <th>Opções</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for professor in professores %}
                                    <tr>
                                        <td>{{ professor.professor }}</td>
                                        <td><a href="https://sigaa.ufrn.br/sigaa/public/docente/portal.jsf?siape={{ professor.siape}}" target="_blank">Portal da UFRN</a></td>
                                        <td>{{ professor.taxa }}%</td>
                                        <td>
                                            <a class="waves-effect waves-light btn-small" href="{% url 'detalhesProfessor' %}?id-matriz-curricular={{ id_matriz_curricular }}&id-componente-curricular={{ id_componente_curricular }}&siape={{ professor.siape }}">Detalhes</a>
                                        </td>
                                    </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block dashboardScripts %}
  <script type="text/javascript" src="{% static 'core/js/datatables.min.js' %}"></script>
  <script>
    $(document).ready(function() {
        $('#datatable').DataTable({
          "paging": false,
          "oLanguage": {
            "sProcessing": "Aguarde enquanto os dados são carregados...",
            "sLengthMenu": "Mostrar _MENU_ registros por pagina",
            "sZeroRecords": "Nenhum registro correspondente ao criterio encontrado",
            "sInfoEmtpy": "Exibindo 0 a 0 de 0 registros",
            "sInfo": "Exibindo de _START_ a _END_ de _TOTAL_ registros",
            "sInfoFiltered": "",
            "sSearch": '',
            "sSearchPlaceholder": "Pesquisar",
            "oPaginate": {
                "sFirst":    "Primeiro",
                "sPrevious": "Anterior",
                "sNext":     "Próximo",
                "sLast":     "Último"
            }
          }
        });
    } );
  </script>
{% endblock %}
